<app-header></app-header>


<router-outlet></router-outlet>



<div class="content">
  <div class="main">
    <h1 class="mainHeading" >Profile</h1>
    
    <div class="form-controls">
      <div class="searches">
         <input type="text" class="searchT"  [(ngModel)]="searchValue" name="searchValue" type="search" placeholder="  search name, email, or company" aria-label="Search">
         <button type="submit" class="searchBut">
          <i class="bi bi-search"></i>
        </button>
      </div>
   </div>

   
  </div>
 


    <!-- testing -->
      <div >
      <div style="max-width: 100%;"  class="card mb-3 grid-container">
      <div class="row g-0" class="grid-item" *ngFor="let user of users | filter:searchValue ">
      
        <div class="col-md-4" style="max-width: 35%;">
          <img src="../../../../../assets/avatar/profile-icon.PNG" class="img-fluid rounded-start" alt="Profile Image">
        </div>
        <div class="col-md-8" style="max-width: 65%;">
          <div class="card-body">
            <h5 class="card-title">{{user.name}}</h5>
            <p class="card-text">{{user.email}}</p>
            <p class="card-text">{{user.phone}}</p>
            <button class="btn btn-primary" routerLink="../profile/{{user._id}}">View Profile</button>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- /testing -->
     <!-- Loader -->
  <div  [ngClass]="{'loader':loading$, 'unloader':!loading$}"> <mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async"></mat-progress-spinner></div>
</div>



<app-footer></app-footer>
