.content{
    background: #ffffff;
}
.main{
    display: flex;
    align-items: center;
    padding-top: 16px;
}
@media only screen and (max-width: 600px) {
    .main {
        display: contents;
        align-items: center;
    }
    }

.example-card {
    max-width: 400px;
    margin: 10px;
    background: rgb(69, 182, 235);
  }


.Avtar{
    height: 148px;
    width: 128px;
}
.mat-card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 4px;
}
.part{
    display: flex;
}
.mat-card-title-group {
    display: contents;
    justify-content: space-between;
}
.part1{
    width: 35%;
}
.part2{
    margin-left: 20px;
    width: 65%;
}
.form-controls{
    display: inline;

}

.mainHeading{
    margin-left: 10px;
    display: inline;
    border: outset;
}

@media only screen and (max-width: 600px) {
    .mainHeading {
        display: flex;
        margin: auto;
        max-width: max-content;}
    }
    



.form-controls{
    margin-left: auto;
}




body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.searches {
  /* width: 100%; */
  position: relative;
  display: flex;
  width: 350px;
    margin-right: 10px;
}

@media only screen and (max-width: 600px) {
.searches{
position: relative;
display: flex;
width: 100%;
}
}

.searchT {
    width: 100%;
    border: 2px solid #00B4CC;
    border-right: none;
    padding: 4px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchT:focus{
  color: #00B4CC;
}

.searchBut {
  width: 40px;
  height: 36px;
  border: 1px solid rgb(84 189 239);
  /* background: #00B4CC; */
  background: rgb(84 189 239);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.searchBut :hover{
    background: #c3ecf1;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

mat-progress-spinner{
    position: absolute;
    top:  50%;
    left: 50%;
    ;
    transform: translate(-50%, -50%);
   
}

.loader{
    position: relative;
    z-index: 5;
    height: 250px;
    width: 100%;
    
}

.unloader{
    display: none;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    
    padding: 10px;
    gap: 20px 22px;
  }
  @media only screen and (max-width: 1020px){
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    
    padding: 10px;
    gap: 20px 22px;
  }
}
@media only screen and (max-width: 595px){
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        
        padding: 10px;
        gap: 20px 22px;
      }
    }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 7px outset #5cb7ff;
    background-color: #5cb7ff;
    
    display: flex;
    
  }

  .img-fluid {
    max-width: 100%;
    height: 176px;
}



.btn-primary {
    color: #ffffff;
    border-color: #001eff;
    background-color: #1fafd0;
    border: 3px outset #34ddd4;
}









